@use '../sass/components/globals';
@use '../sass/utils/variables';
@use '../sass/components/header';
@use '../sass/components/modal';
@use '../sass/components/hero';
@use '../sass/components/characteristics';
@use '../sass/components/products';
@use '../sass/components/team';
@use '../sass/components/clients';
@use '../sass/components/footer';
@use '../sass/components/portafolio';
@use '../sass/components/modal-mobile.scss';