
@use '../utils/variables';

.characteristics{
   //* margin: 0;
    width: 480px;
    letter-spacing: 0.03em;

    &__list{    
        display: flex;
        flex-direction: column;
    }

    &__item{
        //flex-direction: column;
    }
    &__item:not(:last-child){
        margin-bottom: 30px;
    }



    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        
        height: 120px;
        background-color: variables.$background-botton;
        border-radius: 4px;
    }

    &__title{
        margin-bottom: 10px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
    }

    &__text{
        align-items: baseline;
        line-height: 1.7;
        color: variables.$secundary-color;
    }
}

@media (min-width: 768px){
    
    .characteristics{ 
        width: 768px;

        &__list{    
            flex-direction: row;            
            flex-wrap: wrap;
            gap: 30px;
        }

        &__item:not(:last-child) {
            margin-bottom: 0px;
        }

        &__item{
            flex-basis: calc(( 100% - 30px ) / 2);
        }
        &__title{
            text-align: left;
        }
    }
}

@media (min-width: 1200px){
    
    .characteristics{ 
        width: 1200px;

        &__list{    
            flex-direction: row;            
            flex-wrap: wrap;
            gap: 30px;
        }

        &__item:not(:last-child) {
            margin-bottom: 0px;
        }

        &__item{
            flex-basis: calc(( 100% - 90px ) / 4);
        }
    }
}