
@use '../utils/variables';

.client-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item{
        flex-basis: calc(( 100% - 30px ) / 2);
    }


    &__icon{
        display: flex;
        //width: 206px;
        height: 90px;
        justify-content: center;
        align-items: center;
        border: 1px solid variables.$fill-color;
        border-radius: 4px;
        
        fill: variables.$fill-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus{
            outline: none;
            border: 1px solid variables.$hover-color;
            fill: variables.$hover-color;
        }
    }   
}
