
@use '../utils/variables';


.client{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item{
        flex-basis: calc(( 100% - 30px ) / 2);
    }


    &__icon{
        display: flex;
        height: 90px;
        justify-content: center;
        align-items: center;
        border: 1px solid variables.$fill-color;
        border-radius: 4px;
        
        fill: variables.$fill-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus{
            outline: none;
            border: 1px solid variables.$hover-color;
            fill: variables.$hover-color;
        }
    }   
}

@media (min-width:768px){
    .client{
        width: 100%;
        &__item{
            flex-basis: calc(( 100% - 60px ) / 3);
        }
    }
}
