@use '../utils/variables';
.footer{
    padding: 60px 0;
    display: flex;
    min-width: 480px;
    background-color: variables.$background-secundary;
    margin-left: auto;
    margin-right: auto;

    /*----------- contenedor de contacto -----------*/

    .footer-cont{
        min-width: 100%;
        margin:0;
        display: flex;
        text-align: center;
        flex-direction: column;
        

        /*----------- informacion de contacto -----------*/

        .footer-contact{
            margin-bottom: 60px;

            &__logo{
                display: flex;
                justify-content: center;
                margin-bottom: 28px;
                color: variables.$hover-color;
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 26px;
                line-height: 1.2;
                letter-spacing: 0.03em;
            }

            &__span{
                color: variables.$background-primary;
            }

            &__list{
                
                width: 100%;
                line-height: 1.5;
                letter-spacing: 0.03em;
                text-align: center;
            }

            &__dir{
                display: flex;
                justify-content: center;
                margin-bottom: 12px;
                color: variables.$background-primary;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                &:hover, &:focus{
                    color: variables.$hover-color;
                    fill: variables.$hover-color; 
                }
            }

            &__item{
                display: flex;
                justify-content: center;
                margin-bottom: 12px;
                color: variables.$secundary-color;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                &:hover, &:focus{
                    color: variables.$hover-color;
                    fill: variables.$hover-color; 
                }
            }
        }

        /* --------------- Redes sociales --------------- */

        .cont-social{
            flex-direction: column;
            width: 100%;
            margin-bottom: 60px;

            &__title{
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: variables.$background-primary;
                margin-bottom: 20px;
                text-align: center;
            }

            .social-cont{
                display: flex;
                justify-content: center;
                margin-top: 28px;  

                &__item{
                    display: flex; 
                }

                &__item:not(:last-child){
                    margin-right: 10px;
                }

                &__icon{
                    border-radius: 50%;
                    height: 44px;
                    padding: 12px;
                    background-color: rgba(255, 255, 255, 0.1);
                    fill: variables.$background-primary;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover, &:focus{
                    outline: none;
                    background-color: variables.$hover-color;
                    fill: variables.$background-primary;
                    }
                }
            }

        }

        /* -------------- Formulario  -------------- */

        .form-email{
            max-width:100%;
            flex-direction: column;

            .footer-form{
                flex-direction: column;
                justify-content: center;
                //width: 100%;
               // height: 86px;

                &__title{
                    color: variables.$background-primary;
                    width: 100%;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                   // margin-right: 12px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                &__input{
                    background-color: variables.$background-secundary;
                    width: 100%;
                    padding: 14px 16px;
                    margin-bottom: 20px;

                    border: 1px solid rgba(255, 255, 255, 0.3);
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                    border-radius: 4px;
                    color: rgba(255, 255, 255, 0.6); 
                    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover, &:focus{
                        outline: 1px solid variables.$hover-color;
                    }
                }

                &__button{ 
                    margin-left: auto; 
                    margin-right: auto;
                    display: flex;
                    position: relative;
                    width: 200px;
                    height: 50px;    
                    padding: 10px;
                    cursor: pointer;
                    border: none;
                    background: variables.$hover-color;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    
                    &:hover, &:focus{
                        outline: 1px solid variables.$hover-color;
                    }
                }

                &__span{
                    position: absolute;
                    left: 39px;
                    top: 10px;

                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                    letter-spacing: 0.06em;
                    text-transform: capitalize;

                    color: variables.$background-primary;
                }

                &__icon {
                    position: absolute;
                    left: 148px;
                    top: 13px;
                }
            }
        }
    }       
}

@media (min-width:768px) {
    
    .footer{
        min-width: 100%;

        /*----------- contenedor de contacto -----------*/
    
        .footer-cont{
            position:relative;
            min-width: 768px;  
            height: 464px;
            flex-direction:row;
            margin-left: auto;
            margin-right: auto;
            /*----------- informacion de contacto -----------*/
    
            .footer-contact{
                margin-bottom:0;
                margin-left: 60px ;
                margin-right:165px;
    
                &__list{
                    width:215px;
                }
            }
    
            /* --------------- Redes sociales --------------- */
    
            .cont-social{
                margin: 0;
                width: 206px;
                //margin-left: 165px;
                .social-cont{
                    &__item:not(:last-child){
                        margin-right: 10px;
                    }
                }
            }
    
            /* -------------- Formulario  -------------- */
    
            .form-email{
                position: absolute;
                top: 284px;
                left: 168px;
                flex-direction: column;
                width: 450px;
    
                .footer-form{
                    display:flex;
                    flex-direction:row;
    
                    &__input{
                        width: 450px;
                        margin-right: 12px;
                    }
    
                    &__button{ 
                        position: absolute;
                        top: 110px;
                        min-width:200px
                    }
                }
            }
        }       
    }   
}

@media (min-width:1200px) {


    .footer{
        min-width: 100%;

        /*----------- contenedor de contacto -----------*/
    
        .footer-cont{
            height: auto;
            position:static;
            min-width: 1200px;  
            flex-direction:row;
            margin-left: auto;
            margin-right: auto;
            /*----------- informacion de contacto -----------*/
    
            .footer-contact{
                margin-bottom:0;
                margin-left: 0 ;
                margin-right: 70px;
                display: flex;
                flex-direction:column;
                align-items:flex-start;

    
                &__list{
                    display: flex;
                    flex-direction:column;
                    align-items:flex-start;
                    width: 215px;
                }

            }
    
            /* --------------- Redes sociales --------------- */
    
            .cont-social{
                margin: 0;
                width: 206px;
                margin-right: 109px;
                .social-cont{
                    &__item:not(:last-child){
                        margin-right: 10px;
                    }
                }
            }
    
            /* -------------- Formulario  -------------- */
    
            .form-email{
                position: static;

                flex-direction: column;
                width: 570px;
    
                .footer-form{
                    display:flex;
                    flex-direction:row;

                    &__title {
                        text-align: initial;
                    }
    
                    &__input{
                        width: 358px;
                        margin-right: 12px;
                        margin-bottom: 0px;
                    }

                    &__button{ 
                        display: flex;
                        position: relative;
                        top: 0;
                        width: 200px;    
                        padding: 10px;
                        cursor: pointer;
                        border: none;
                        background: variables.$hover-color;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        border-radius: 4px;
                        
                        &:hover, &:focus{
                            outline: 1px solid variables.$hover-color;
                        }
                    }
    
                    &__span{
                        position: absolute;
                        left: 39px;
                        top: 10px;
    
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 30px;
                        letter-spacing: 0.06em;
                        text-transform: capitalize;
    
                        color: variables.$background-primary;
                    }
    
                    &__icon {
                        position: absolute;
                        left: 148px;
                        top: 13px;
                    }
                }
            }
        }       
    } 
    
}







