@use '../utils/variables';

.header{
    display: block;
    width: 480px;
    height: 60px;
    border-bottom: 1px solid #ECECEC;

    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    
        .menu{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__logo{
                color: variables.$hover-color;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.08;
                text-align: right;
                letter-spacing: 0.03em;
            }

            &__span-logo{
                color: variables.$primary-color;
            }

            &__button{
                display: flex;
                align-items: center;
                justify-content: space-around;

                height: 40px;
                width: 40px;
                display: block;

                margin: 0;
                padding: 0;
                background-color: transparent;
                cursor: pointer;
                border: none;
                border-radius: 50%;
                outline: none;

                &:hover,
                &:focus {
                    fill: variables.$hover-color;
                }
            }
        }

        .nav{ 
            display: none;         
        }

        .contact-list{
            display: none;
        }
    }

    @media (min-width: 481px) {
        max-width: 100%;
        .header{
            &__container{ 
                //quede aqui arreglando el width <-----------------------------
                max-width: 768px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .menu{
                    display: none;
                }

                .nav{
                    background-color: aquamarine;
                    display: flex;
                    align-items: center;
                    
                    
                    &__logo{
                        color: variables.$hover-color;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 1.08;
                        text-align: right;
                        letter-spacing: 0.03em;
                    }

                    &__list{
                        display: flex;
                        align-items: center;
                    }

                    &__item:not(:last-child){
                        margin-right: 50px;
                    }

                    &__item{

                    }

                    &__link{
                        display: flex;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;
                        align-items: center;
                        color: variables.$primary-color;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                        &:hover, &:focus{
                            color: variables.$hover-color;
                            fill: variables.$hover-color;
                        }

                        &--select{ 
                            height: 80px;
                            color: variables.$hover-color;
                            position: relative;
                        }

                        &--select::after{
                            position: absolute;
                            content: '';
                            display: block;
                            background-color: variables.$hover-color;
                            width: 100%;
                            height: 4px;
                            border-radius: 2px;
                            bottom: 0;
                        }
                    }
                }

                .contact-list{
                    background-color: chocolate;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    margin-left: auto;
        
                    &__link{  
                        display: flex;     
                        justify-content: center;
                        //padding-top: 32px;
                        //padding-bottom: 32px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;
                        color: variables.$secundary-color;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                        &:hover, 
                        &:focus{
                            color: variables.$hover-color;
                            fill: variables.$hover-color;
                        }
                    }
        
                    &__icon{
                        margin-right: 10px;
                        padding: 0px;
                    }
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width:1200px){
        width: 100%;
        
        .header{
            height: 80px;
           // min-width: 768px;
            //max-width: 100%;
            &__container{
                background-color: rgb(109, 108, 108);
                display: flex;
                width: 100%;
                .menu{
                    &__button{
                            display: none;
                    }
                }

                .nav{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: aquamarine;
                    &__list{

                    }
                    &__item{

                    }
                    &__link{
                        &--select{

                        }
                    }
                }

                .contact-list{
                    background-color: brown;
                    margin-right: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &__item{
                        display: flex;

                    }

                    &__item:not(:last-child){
                        margin-right: 50px;
                    }

                    &__link{
                        display: flex;

                    }
                    &__icon{

                    }
                }
            }
        }
    }

    @media (min-width: 1200px) {
        width: 100%;
        .header{
            //display:flex;
            height: 80px;
        }

    }
}