@use '../utils/variables';

.hero{ 
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    text-align: center; 
    background-image: linear-gradient(70deg,rgba(47, 48, 58, 0.4),rgba(3, 0, 0, 0.4)), url("../imagenes/Imagen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .hero-cont{
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        &__title{
            margin: 0 auto 30px;
        
            color: variables.$background-primary;
            font-weight: 900;
            font-size: 26px;
            line-height: 1.3;
            letter-spacing: 0.06em;
            text-transform: uppercase; 
        }
        
        &__button{
            width: 200px;
            height: 50px;
            cursor: pointer;
            
            border: none;
            font-family: inherit;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;            
            border-radius: 4px;
            color: variables.$background-primary;
            background-color: variables.$hover-color;
        }
    }
}

@media (max-width:479px){
    .hero{
        width: 480px;
    }
}

@media (min-width: 768px){

    .hero{
        max-width: 1200px;
    }
}

@media (min-width: 1200px){
    .hero{
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        .hero-cont{
            width: 696px;
            &__title{
                font-size: 44px;
                max-width: 696px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
}
