
@use '../utils/variables';

.product{
    width: 480px;
    padding-top: 0;

    &__list{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item{
        width: 100%;
        position: relative;

        img{
            width: 100%;
        }
    }

    &__title{    
        width: 100%;
        position: absolute;
        bottom: 0%;
        padding: 27px 0;
        display: flex;
        justify-content: center;


        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: variables.$background-primary;
        background-color: rgba(47, 48, 58, 0.8);
    }
}

@media (min-width:768px){
    .product{
        width: 768px;

        &__list{
            flex-direction: row;            
            flex-wrap: wrap;
            gap: 30px;
        }

        &__item{
            flex-basis: calc(( 100% - 60px ) / 3);

        }

        &__title{

        }

    }
    
}