
@use '../utils/variables';

.product{
    display: none;
}

@media (min-width:1200px){
    .product{
        padding-top: 0;
        display: flex;
        
        &__list{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    
        &__item{
            flex-basis: calc((100% - 60px) /3);
            position: relative;
        }
    
        &__title{    
            width: 100%;
            position: absolute;
            bottom: 0%;
            padding: 27px 0;
            display: flex;
            justify-content: center;
    
    
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
            color: variables.$background-primary;
            background-color: rgba(47, 48, 58, 0.8);
        }
    }    
}