@use '../utils/variables';

.section-page{    
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center; 
    background-image: linear-gradient(70deg,rgba(47, 48, 58, 0.4),rgba(3, 0, 0, 0.4)), url("../imagenes/Imagen.jpg");
    background-size: 100% 100%; 

    &__title{
        margin: 0 auto;
        padding: 10px 32px;
        display: block;
        max-width: 696px;
        margin-bottom: 30px;
    
        color: variables.$background-primary;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase; 
    }
    
    &__button{
        padding: 10px 32px;
        cursor: pointer;
        font-family: inherit;
        border: none;
        border-radius: 4px;
        color: variables.$background-primary;
        background-color: variables.$hover-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    }
    

    @media (max-width: 480px) {
        .section-page{
            background-size: contain;
            width: 100%;

            &__title{
                font-size: 26px;
            }

            &__button{
                margin: 0;

            }
        }
    }




}

