
@use '../utils/variables';

.team{
    width: 480px;
    background-color: variables.$background-botton;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;


    &__list{   
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: variables.$background-botton;
    }

   &__item{
        background-color: variables.$background-primary;    
        width: 100%;
        flex-direction: column;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        img{
            width: 100%;
        }
    }

    .text-cont{
        padding: 30px;
    
        &__name{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;    
            margin-bottom: 10px;
        }

        &__text{
            font-size: 16px;
            line-height: 1.2;
            color: variables.$secundary-color;
        }
    }

    /* -------------------- Estilos svg -------------------- */

    .social-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 28px;  

        &__item{
            display: flex; 
        }

        &__item:not(:last-child){
            margin-right: 10px;
        }

        &__icon{
            border-radius: 50%;
            height: 44px;
            padding: 12px;
            background-color: rgba(255, 255, 255, 0.1);
            fill: variables.$fill-color;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover, &:focus{
            outline: none;
            background-color:variables.$hover-color;
            fill: variables.$background-primary;
            }
        }
    }
}

@media (min-width:768px){

    .team{
        width: 768px;
        &__list{
            //width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
        

        &__item{
            flex-basis: calc((100% - 30px) /2);
        }


        .text-cont{

        }
        .social-cont{
            
        }
        
    }
}

@media (min-width:1200px){

    .team{
        width: 1200px;
        margin: auto;

        &__list{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
        

        &__item{
            flex-basis: calc((100% - 90px) /4);
        }

        .text-cont{

        }
        .social-cont{
            
        }
        
    }
}