$primary-color:             #212121;
$secundary-color:           #757575;
$hover-color:               #2196F3;
$fill-color:                #afb1b8;
$background-primary:        #ffffff;
$background-secundary:      #2F303A;
$background-botton:         #F5F4FA;